:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0d1117;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  .main {
    .navbar {
      background-color: #161b22;
      padding: 1.5em;
      display: flex;
      justify-content: flex-end;

      button {
        padding: 0.5em;
        font-size: 1.2em;
        background-color: transparent;
        border: none;
        border: 1px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: .4s;
        color: #fff;
        &:hover {
          color: #fff8;
          border: 1px solid #fff8;
        }
      }
    }
    .siginin__container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      .signin {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        border: 1px solid rgba(255, 255, 255, 0.729);
        padding: 3em 2em;
        border-radius: 5px;
        background-color: #161b22;

        .welcome {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          padding: 0 5em;

          i {
            font-size: 1.3em;
          }
        }
        .inputs {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          
          input {
            padding: 0.8em 0.5em;

          &:focus {
            outline: none;
          }
          }
        }

        button {
          cursor: pointer;
          padding: 0.5em;
          background-color: #0d1117;
          color: #fff;
          border: none;
          font-size: 1.2em;
          margin-top: .5em;
          transition: .8s;
          border-radius: 5px;
          &:hover {
            background-color: #38393bc4;
          }
        }
      }
    }
  }
}

/* .button {
  cursor: pointer;
  padding: 0.5em;
  width: 100%;
  background-color: #0d1117;
  color: #fff;
  border: none;
  font-size: 1.2em;
  margin-top: .5em;
  transition: .8s;
  border-radius: 5px;
  &:hover {
    background-color: #38393bc4;
  }
} */
